venv/
__pycache__/
*.pyc
.cache/
output/
.DS_Store
.thumbnails/
dist/
*.dmg
*.exe
ui/node_modules/
ui/src-tauri/target/
ui/build/
*.egg-info/
*.pdf
build/
*.spec
ui/src-tauri/binaries/
ui/src-tauri/icons/android/
ui/src-tauri/icons/ios/
